/* HERO */
body {
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;
    font-family: 'Roboto';

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        font-size: 24px;

        .links {
            display: flex;
            gap: 20px;
            list-style-type: none;
            font-size: 18px;
            color: #e5e7eb;
            font-weight: normal;
        }
    }

    .main {
        display: flex;
        
        .left {
            .intro_title {
               font-size: 48px;
               font-weight: 900; 
            }

            .intro_body {
                
            }
        }
    }
}

/* CTA 1 */

/* QUOTES */

/* CTA 2 */

/* FOOTER */