/* HERO */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 8px 36px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        font-size: 24px;
    }

        .links {
            display: flex;
            gap: 20px;
            list-style-type: none;
            font-size: 18px;
            color: #e5e7eb;
            font-weight: normal;
        }
    }

    .main {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-top: 50px;
        
        .left {
            width: 450px;
            height: 250px;

            .intro_title {
               font-size: 48px;
               font-weight: 900; 
            }

            .intro_body {
                font-size: 18px;
                color: #e5e7eb;
            }

            #one {
                border: none;
                background-color: #3882f6;
                color: white;
                padding: 4px 16px;
                border-radius: 4px;
                margin-top: 4px;
            }

            #one:active {
                transform: scale(0.9);
            }

            #one:hover {
                background-color: white;
                color: #3882f6;
            }
        }

        .right {
            width: 450px;
            height: 250px;
        }
    }

/* CTA 1 */

.cta.one {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    padding-bottom: 40px;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        color: #1f2937;
        font-weight: 900;
        padding-top: 40px;
    }

    .main {
        display: flex;
        justify-content: center;
        gap: 60px;

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            img {
                width: 150px;
                height: 150px;
                border-radius: 16px;
            }

            .subtext {
                color: gray;
                text-align: center;
                width: 150px;
            }
        }
    }
}

/* QUOTES */

.quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding: 100px 0px;
    
    .quote {
        width: 920px;
        font-weight: 300;
        font-size: 36px;
        color: #1f2937;
        font-style: italic;
    }

    .citation {
        width: 920px;
        text-align: end;
        font-weight: bold;
    }
}

/* CTA 2 */

/* FOOTER */