/* HERO */
body {
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;
    font-family: 'Roboto';
    padding: 8px 36px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        font-size: 24px;
    }

        .links {
            display: flex;
            gap: 20px;
            list-style-type: none;
            font-size: 18px;
            color: #e5e7eb;
            font-weight: normal;
        }
    }

    .main {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-top: 50px;
        
        .left {
            width: 450px;
            height: 250px;

            .intro_title {
               font-size: 48px;
               font-weight: 900; 
            }

            .intro_body {
                font-size: 18px;
                color: #e5e7eb;
            }

            #one {
                border: none;
                background-color: #3882f6;
                color: white;
                padding: 4px 16px;
                border-radius: 4px;
                margin-top: 4px;
            }

            #one:active {
                transform: scale(0.9);
            }

            #one:hover {
                background-color: white;
                color: #3882f6;
            }
        }

        .right {
            width: 450px;
            height: 250px;
        }
    }

    

/* CTA 1 */

/* QUOTES */

/* CTA 2 */

/* FOOTER */